{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./server"],
        "alias": {
          "<server>": "./server",
          "<models>": "./server/models",
          "<configs>": "./server/configs",
          "<controllers>": "./server/controllers",
          "<helpers>": "./server/helpers",
          "<services>": "./server/services",
          "<middlewares>": "./server/middlewares"
        }
      }
    ]
  ]
}